/*
colours users
text (dark grey): #4D4D4D;
primary Color (teal): #239caa;
secondary Color (yellow): #ffc400;
*/
body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #4D4D4D;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  text-decoration: underline;
}

h5 {
  font-size: 1em;
  font-weight: 600;
}

img {
  width: 100%;
}

/* hyperlinks
default (primary, teal): #239caa
visited (light teal): #7cbbc2
hover/focus (secondary, yellow): #ffc400
active (dark teal): #0c5668
*/
a {
  color: #239caa;
  text-decoration: none;
  text-weight: 500;
}

a:visited {
  color: #7cbbc2;
}

a:hover, a:focus {
  color: #ffc400;
  text-decoration: underline;
}

a:active {
  color: #f19f24;
}

.button {
  display: inline-block;
  background-color: #239caa;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #0c5668;
}

.button.contact {
  background-color: transparent;
  color: #239caa;
  text-transform: uppercase;
  border: 2px solid #239caa;
}

.button.contact:hover {
  background-color: #7cbbc2;
  color: #ffffff;
}

.button.contact:active {
  background-color: #0c5668;
}
