/*
colours used
text (dark grey): #4D4D4D;
primary Color (teal): #239caa;
secondary Color (yellow): #ffc400;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #4D4D4D;
}

h1 {
  font-size: 1.7em;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 15px;
}

h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  text-decoration: underline;
  margin-bottom: 0px;
  font-weight: 500;
}

h5 {
  text-align: center;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
}

.subhead {
  font-size: 0.8em;
}

/* images */

img {
  width: 100%;
}

/* hyperlinks & buttons
default (primary, teal): #239caa
visited (light teal): #7cbbc2
hover/focus (secondary, yellow): #ffc400
active (dark teal): #0c5668
*/
a {
  color: #239caa;
  text-decoration: none;
  text-weight: 500;
}

a:visited {
  color: #7cbbc2;
}

a:hover, a:focus {
  color: #ffc400;
  text-decoration: underline;
}

a:active {
  color: #f19f24;
}

.button {
  display: inline-block;
  background-color: #239caa;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #0c5668;
}

.button.contact {
  background-color: #FFFFFF;
  color: #239caa;
  text-transform: uppercase;
}

.button.contact:hover {
  background-color: #7cbbc2;
  color: #ffffff;
}

.button.contact:active {
  background-color: #ffc400;
}

.fab {
  color: #ffffff;
}

.project {
  text-align: center;
}

.project p {
  text-align: left;
}


/* Layout styling */
header {
  text-align: center;
  background-color: #FFFFFF;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.25);
}

nav {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}

nav>ul>li>a:visited {
  color: #f9c77d;
}

nav>ul>li>a:hover {
  color: #f19f24;
}

nav>ul>li>a:active {
  color: #0c5668;
}

main {
  padding-top: 290px;
  width: 100%;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: #239caa;
  color: #FFFFFF;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 250px;
}

.fab {
  padding: 0 4px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  display: inline-block;
}

h1, #hero p {
  text-align: center;
}

#social.container {
  padding: 4px 0px 20px 0px;
}

#contact h2, #social h2 {
  margin-bottom: 10px;
}
