/*
colours used
text (dark grey): #4D4D4D;
primary Color (teal): #239caa;
secondary Color (yellow): #ffc400;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
}

h1 {
  font-size: 1.7em;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 15px;
}

h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 0;
}

h4 {
  text-decoration: underline;
  margin-bottom: 0;
  font-weight: 500;
}

h5 {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  margin-top: 0;
}

.subhead {
  font-size: 0.8em;
}

/* images */

img {
  width: 100%;
  max-width: 800px;
}

.logo {
  max-width: 70px;
  padding: 0;
}

.portrait {
  max-width: 600px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.04);
  }
}

.chopsticks,
.avocado,
.shrimp {
  animation: 1.5s infinite linear shake;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.salmon,
.cucumber {
  animation: 1.5s infinite reverse linear shake;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.bowl {
  animation: 1s infinite alternate linear scale;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

/* hyperlinks & buttons
default (primary, teal): #239caa
hover/focus (secondary, yellow): #f19f24
active (dark teal): #0c5668
*/
a {
  color: #1D828E;
  text-decoration: none;
  font-weight: 400;
}

a:hover,
a:focus {
  color: #f19f24;
  text-decoration: underline;
}

a:active {
  color: #D17D00;
}

#topbtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ffc400; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  height: 60px;
  width: 60px;
  padding: 15px; /* Some padding */
  border-radius: 500px; /* Rounded corners */
  font-size: 1em; /* Increase font size */
}

#topbtn:hover {
  background-color: #f19f24; /* Add a dark-grey background on hover */
}

.button {
  display: inline-block;
  background-color: #239caa;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #fff;
}

.button:active {
  background-color: #0c5668;
}

.button.contact {
  background-color: #fff;
  color: #239caa;
  text-transform: uppercase;
}

.button.contact:active {
  background-color: #ADEBF2;
}

.inactive {
  opacity: 0.7;
}

.fab {
  color: #fff;
}

.centered {
  text-align: center;
  padding-bottom: 20px;
}

/* Layout styling */
header {
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  padding: 6px 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 30px;
  padding: 13px 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
}

#skills ul {
  text-align: left;
}

main {
  padding-top: 100px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

main p {
  text-align: left;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: #239caa;
  color: #fff;
}

.container {
  max-width: 800px;
  padding: 0 15px;
}

.row {
  padding: 40px 0;
}

.fab {
  padding: 0 4px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  display: inline-block;
}

h1,
#hero p {
  text-align: center;
}

#social.container {
  padding: 4px 0 20px;
}

#contact h2,
#social h2 {
  margin-bottom: 10px;
  text-decoration: none;
}

/* ==============================
medium devices (640px or larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  main {
    padding-top: 120px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  nav > ul {
    margin: 1em 0;
    padding-top: 20px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    min-width: 100px;
    padding: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #topbtn {
    height: 70px;
    width: 70px;
  }
}

/* ==============================
large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
x-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  /* empty */
}
